body {
    background: #384047;
    font-family: sans-serif;
    font-size: 15px;
}

.error {
    color: red;
    font-size: 15px;
}

.box {
    font-size: 12px;
}

#heading {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
}

#btnn {
    background: rgba(148, 186, 101, 0.7);
    box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
    border-radius: 2px;
    border: none;
    color: #fff;
    font-size: 2em;
    padding: 0.8em 123px;
}

.main {
    max-width: 80%;
    margin-top: 25px;
    border-radius: 2px;
    background: #fff;
}

#doctor {
    font-weight: 700;
    text-align: center;
    color: #666666;
}

#patient {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #666666;
}

#doctable {
    max-width: 50%;
}

/*DOCTOR VIEWING PATIENT*/

.mainone {
    max-width: 95%;
    margin-top: 25px;
    border-radius: 2px;
    background: #fff;
}

.name {
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #666666;
}

#pi {
    padding-left: 36px
}

#pnn {
    padding-left: 12px
}

#pn {
    padding: 0 7px;
}

.danger-zone {
    margin: 40px 20px;
    padding: 30px;
    text-align: center;
}

.medication {
    padding: 15px;
}

.LoginDp {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
}

form h2 {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #666666;
    border-bottom: solid 1px #e5e5e5;
}

form p {
    margin: 0 0 3em 0;
    position: relative;
}

form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
}

form input {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 2px;
}

form input:focus {
    background: #fff;
}

form span {
    display: block;
    background: #F9A5A5;
    padding: 2px 5px;
    color: #666;
}

form input[type="submit"] {
    background: rgba(148, 186, 101, 0.7);
    box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
}

form input[type="submit"]:hover {
    background: #94af65;
    text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}

form label {
    left: 8px;
    color: #999;
    display: inline-block;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
}

/*main page*/

.container {
    background-color: #fff;
    margin-top: 70px;
    border-radius: 14px;
    width: 800px;
}

.buttons {
    max-width: 40%;
    margin: 40px auto 0;
    border-radius: 2px;
    padding-bottom: 40px;
    text-align: center;
}

.btn-huge {
    padding-top: 20px;
    padding-bottom: 30px;
    background: rgba(148, 186, 101, 0.7);
    box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
    cursor: pointer;
    text-shadow: 0 1px #68B25B;
}

.home {
    max-width: 70%;
}
